@model CategoryFormVM
@{ViewData["Title"] = "Add";}
<form class="card__form" asp-controller="categories" asp-action="Create" method="post">

    <input required="" type="text" placeholder="Name" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <button asp-controller="categories" asp-action="create" class="card__button alert-primary " type="submit"><i class="bi bi-plus"></i>Save</button>
</form>